<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

 <div class="row mt-4">
  <div class="col-md-6">
    <h3></h3>
        <div class="form-group">
           <a href="/api/addresses">
           <button type="submit" class="btn btn-primary">Address Book</button>
          </a>
         <div class="form-group">
             <a href="/api/groceries">
        <button type="submit" class="btn btn-primary">Grocery List</button>
        </a>
          {{!-- <div class="form-group">
        <button type="submit" class="btn btn-primary">Event List</button>
      </div> --}}

    <form class="form new-grocery-form">
      <div class="form-group">
        <label for="grocery-name">Event name:</label>
        <input class="form-input" type="text" id="grocery-name" name="grocery-name" />
      </div>
      <div class="form-group">
        <label for="grocery-address">Event date:</label>
        <input class="form-input" type="number" id="grocery-address" name="grocery-address" />
      </div>
      <div class="form-group">
        <label for="grocery-desc">Event time:</label>
        <textarea class="form-input" id="grocery-desc" name="grocery-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 grocery-list">
    <h3>Current Schedule:</h3>

    {{#each projects as |project|}}
    <div classqui="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.Event_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/project.js"></script>